<header>
  <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
      <div class="container-fluid">
          <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="router-link-active" >My Contact Book</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                  aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
          </button>
          <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
              <ul class="navbar-nav flex-grow-1">
                  <li class="nav-item">
                      <a class="nav-link text-dark" [routerLink]="['/home']" routerLinkActive="router-link-active" >Home</a>
                  </li>
                  <li class="nav-item">
                      <a class="nav-link text-dark" [routerLink]="['/privacy']" routerLinkActive="router-link-active"  >Privacy</a>
                  </li>
                  <!-- <li class="nav-item">
                      <a class="nav-link text-dark" [routerLink]="['/contacts']" routerLinkActive="router-link-active"  >Contacts</a>
                  </li> -->
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/contacts-pagination']" routerLinkActive="router-link-active" >Contacts</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/contacts-favourites']" routerLinkActive="router-link-active" >Favourites</a>
                  </li>
                  <!-- <li class="nav-item">
                    <a class="nav-link text-dark" [routerLink]="['/contacts-search']" routerLinkActive="router-link-active" >Search</a>
                  </li> -->
              </ul>
              <ul class="nav navbar-nav ml-auto" *ngIf="!isAuthenticated">
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signup']" routerLinkActive="router-link-active" ><span
                            class="fas fa-user"> Sign Up</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/signin']" routerLinkActive="router-link-active" ><span
                            class="fas fa-sign-in-alt"> Sign In</span></a>
                </li>
            </ul>
            <ul class="nav navbar-nav ml-auto" *ngIf="isAuthenticated">
                <!-- <li class="nav-item">
                    <a class="nav-link" [routerLink]="['/profile']" routerLinkActive="router-link-active"><span
                            class="fas fa-user"> {{username}}</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" (click)="signOut()" style="cursor: pointer;" routerLinkActive="router-link-active"><span
                            class="fas fa-sign-in-alt"> Sign out</span></a>
                </li> -->
                <div class="row">
                    <div class="col">
                        <div ngbDropdown display="dynamic" class="d-inline-block">
                            <button type="button" class="btn btn-outline-primary dropdown-toggle" id="dropdownBasic1" ngbDropdownToggle>
                                <img src="{{ user?.file ? 'data:image/jpeg;base64,' + user?.file : 'assets/DefaultImage.jpg' }}" 
                               class="rounded-circle mr-2" 
                               alt="User Avatar" 
                               style="width: 30px; height: 30px;"> 
                            </button>
                            <div ngbDropdownMenu aria-labelledby="dropdownBasic1" placement="bottom-left" class="dropdown-menu">
                                <button ngbDropdownItem class="dropdown-item" (click)="signOut()" [routerLink]="['/signin']" style="cursor: pointer;" routerLinkActive="router-link-active"> <span><i class="fas fa-sign-out-alt"></i></span> Out</button>
                                <button ngbDropdownItem class="dropdown-item" [routerLink]="['/changepassword']" routerLinkActive="router-link-active">Change Password</button>
                                <button ngbDropdownItem class="dropdown-item" [routerLink]="['/edituser', username]" routerLinkActive="router-link-active">Edit</button>

                            </div>
                        </div>
                    </div>
                </div>
            </ul>
          </div>
      </div>
  </nav>
</header>
<div class="container">
  <main role="main" class="pb-3">
     
      <router-outlet></router-outlet>
  </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container">
        &copy; 2024 - My Contact App - <a [routerLink]="['/privacy']" routerLinkActive="router-link-active">Privacy</a>
    </div>
</footer>