@model PhoneBookModel

<h2>Contact Details</h2>
<div>
    <h4>PhoneId:@Model.PhoneId</h4>
    <h4>First Name:@Model.FirstName</h4>
    <h4>Last Name:@Model.LastName</h4>
    <h4>Email:@Model.Email</h4>
    <h4>Phone Number:@Model.PhoneNumber</h4>
    <h4>Company:@Model.Company</h4>
</div>

